$blue:    #7a6fbe;
$indigo:  #564ab1;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #ec536c;
$orange:  #f1734f;
$yellow:  #f5b225;
$green:   #58db83;
$teal:    #050505;
$cyan:    #29bbe3;
$white:   #fff;
$light:   #f6f8fa;

$primary:           #f2f5f3;
$secondary:         #2d53da;
$secondary-light:   #31e7fe;