.navbar__Wrapper{
    position: absolute;
    top: 0%;
    left: 240px;
    width: calc(100vw - 250px);
    display: flex;
    align-items: flex-start;
    padding-top: 10px;
    justify-content: space-between;
    .navbar__Left{
        margin-left: 20px;
        p{
            font-size: 14px;
            font-weight: 500;
            margin: 0%;
            color: #707070;
        }
        span{
            font-size: 20px;
            font-weight: 900;
            text-transform: capitalize;
        }
    }
    .navbar__Right{
        margin-right: 20px;
        display: flex;
        align-items: center;
        .navbar__Search{
            margin-right: 20px;
            // width: 250px;
            form{
                .navbar__InputDiv{
                    position: relative;
                    input{
                        border: none;
                        outline: none;
                        background-color: $white;
                        padding: 7px 40px;
                        box-shadow: 2px 2px 5px #efefef;
                        border-radius: 5px;
                    }
                    label{
                        position: absolute;
                        top: 7px;
                        left: 10px;
                    }
                }
            }
        }
        .navbar__Notifications{
            margin-right: 15px;
            position: relative;
            z-index: 15;
            button{
                background-color: $white;
                box-shadow: 2px 2px 5px #efefef;
            }
            ul{
                position: absolute;
                top: calc(100% + 5px);
                right: 50%;
                background-color: $white;
                list-style: none;
                padding: 0%;
                border-radius: 5px;
                z-index: 15;
                box-shadow: 2px 2px 5px #efefef, -2px -2px 5px #efefef;
                li{
                    overflow: hidden;
                    .notification__OpenPage{
                        padding: 10px 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        background-color: inherit;
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;
                        p{
                            font-size: 14px;
                            color: $secondary;
                            font-weight: 600;
                            margin: 0%;
                        }
                    }
                }
            }
        }
        .navbar__Profile{
            position: relative;
            z-index: 5;
            button{
                background-color: $white;
                box-shadow: 2px 2px 5px #efefef;
            }
            ul{
                position: absolute;
                top: calc(100% + 5px);
                right: 50%;
                background-color: $white;
                list-style: none;
                padding: 0%;
                border-radius: 5px;
                box-shadow: 2px 2px 5px #efefef, -2px -2px 5px #efefef;
                .navbar__User{
                    text-align: center;
                    margin: 20px 0;
                    img{
                        height: 60px;
                        width: 60px;
                        border-radius: 50%;
                        border: 2px solid #efefef;
                        cursor: pointer;
                    }
                    .navbar__UserDetails{
                        margin-top: 10px;
                        cursor: pointer;
                        text-transform: capitalize;
                        h6{
                            font-size: 14px;
                            margin: 0%;
                            font-weight: 800;
                        }
                        p{
                            margin: 0%;
                            font-size: 12px;
                            color: #707070;
                        }
                    }
                }
                li{
                    
                }
            }
        }
    }
}

.navbar__CollaborationPopup{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.3);
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    .navbar__CollaborationInnerDiv{
        min-width: 300px;
        background-color: $white;
    }
}
.navbar__CollaborationDisplay{
    visibility: visible;
}