.paper__Wrapper{
    background-color: $white;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.dark .paper__Wrapper{
    background-color: $dark-primary;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}