.profileCard__Wrapper{
    background-color: $white;
    position: relative;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px 15px;
    box-shadow: 2px 2px 5px #efefef;
    cursor: pointer;
    text-transform: capitalize;
    &:hover{
        box-shadow: 0 0 10px rgba(0,0,0,0.15);
        transition: all 0.2s linear;
    }
    .profileCard__Header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .profileCard__UserSide{
            display: flex;
            align-items: center;
            .profileCard__UserDetails{
                margin-left: 10px;
                h6{
                    margin: 0%;
                    font-size: 14px;
                }
                p{
                    margin: 0%;
                    font-size: 12px;
                    color: #707070;
                    display: flex;
                    align-items: center;
                    .profileCard__Online{
                        height: 10px;
                        width: 10px;
                        border-radius: 50%;
                        margin-left: 10px;
                        background-color: $green;
                    }
                    .profileCard__Offline{
                        height: 10px;
                        width: 10px;
                        border-radius: 50%;
                        margin-left: 10px;
                        background-color: $red;
                    }
                }
            }
        }
    }
    .profileCard__Tags{
        margin-top: 10px;
        display: flex;
        p{
            padding: 2px 5px;
            background-color: #efefef;
            margin-right: 5px;
            font-size: 12px;
            font-weight: 500;
            margin-bottom:0;
        }
    }
    &:hover::before{
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        height: 70%;
        transform: translateY(-50%);
        width: 4px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        background-color: $secondary;
    }
    &:hover::after{
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        height: 70%;
        transform: translateY(-50%);
        width: 4px;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
        background-color: $secondary;
    }
}

.dark .profileCard__Wrapper{
    background-color: $dark-primary;
    color: $light;
    position: relative;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px 15px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    cursor: pointer;
    text-transform: capitalize;
    &:hover{
        box-shadow: 0 0 10px rgba(0,0,0,0.15);
        transition: all 0.2s linear;
    }
    .profileCard__Header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .MuiSvgIcon-root{
            color: #fff;
        }
        .profileCard__UserSide{
            display: flex;
            align-items: center;
            .profileCard__UserDetails{
                margin-left: 10px;
                h6{
                    margin: 0%;
                    font-size: 14px;
                }
                p{
                    margin: 0%;
                    font-size: 12px;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    .profileCard__Online{
                        height: 10px;
                        width: 10px;
                        border-radius: 50%;
                        margin-left: 10px;
                        background-color: $green;
                    }
                    .profileCard__Offline{
                        height: 10px;
                        width: 10px;
                        border-radius: 50%;
                        margin-left: 10px;
                        background-color: $red;
                    }
                }
            }
        }
    }
    .profileCard__Tags{
        margin-top: 10px;
        display: flex;
        p{
            padding: 2px 5px;
            background-color: $dark-secondary;
            margin-right: 5px;
            font-size: 12px;
            font-weight: 500;
            margin-bottom: 0%;
        }
    }
    &:hover::before{
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        height: 70%;
        transform: translateY(-50%);
        width: 4px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        background-color: $secondary;
    }
    &:hover::after{
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        height: 70%;
        transform: translateY(-50%);
        width: 4px;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
        background-color: $secondary;
    }
}