.rankProfile__Wrapper{
    padding: 10px 15px;
    background-color: $white;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    .rankProfile__Upper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .rankProfile__Left{
            display: flex;
            flex-direction: column;
            .rankProfile__User{
                display: flex;
                align-items: center;
                .rankProfile__UserDetails{
                    margin-left: 10px;
                    h6{
                        font-size: 14px;
                        margin: 0%;
                    }
                    p{
                        font-size: 12px;
                        margin: 0%;
                        color: #707070;
                    }
                }
            }
        }
        .rankProfile__Right{
            height: 30px;
            width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $green;
            border-radius: 50%;
            color: $white;
        }
        &:hover::before{
            content: '';
            position: absolute;
            top: 0%;
            left: 0%;
            height: 100%;
            width: 5px;
            background-color: $secondary;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }
    .rankProfile__Background{
        position: absolute;
        top: 0%;
        right: 30%;
        font-size: 50px;
        color: #efefef;
    }
}