.sidebar__Wrapper{
    background-color: $secondary;
    width: 230px;
    height: 100vh;
    position: fixed;
    color: $white;
    z-index: 13;
    transform: translateX(0);
    transition: 0.2s transform linear;
    .sidebar__Logo{
        width: 100%;
        padding: 20px;
        margin-top: 30px;
        text-align: center;
    }
    .sidebar__CloseIcon{
        position: absolute;
        top: 10px;
        right: 10px;
        button{
            background-color: $white;
            color: $secondary;
        }
    }
    .sidebar__Menu{
        color: #fafafa;
        ul{
            padding: 0;
            padding: 20px 10px;
            list-style: none;
            a{
                color: inherit!important;
                text-decoration: none;
            }
            li{
                margin: 10px 0;
                display: flex;
                align-items: center;
                cursor: pointer;
                padding: 10px 20px;
                overflow: hidden;
                position: relative;
                p{
                    margin-bottom: 0;
                    margin-left: 15px;
                    font-size: 14px;
                    font-weight: 500;
                }
                &:hover{
                    background-color: $white;
                    border-radius: 5px;
                    transition: 0.2s linear;
                    &::before{
                        content: '';
                        position: absolute;
                        top: 5px;
                        left: calc(100% - 3px);
                        height: calc(100% - 10px);
                        width: 100%;
                        background-color: $secondary-light;
                        border-radius: 5px;
                    }
                    .MuiSvgIcon-root{
                        fill: $secondary!important;
                    }
                    p{
                        font-weight: 900;
                        color: $secondary!important;
                    }
                }
            }
        }
    }
    .sidebar__Footer{
        position: absolute;
        bottom: 10px;
        left: 20px;
        cursor: pointer;
        .sideBar__Create{
            width: calc(250px - 60px);
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            border-radius: 10px;
            border: 2px dashed $secondary-light;
            h6{
                margin-bottom: 0%;
            }
        }
    }
}

.sidebar__NavigationActive li{
    background-color: $white;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    &::before{
        content: '';
        position: absolute;
        top: 5px;
        left: calc(100% - 3px);
        height: calc(100% - 10px);
        width: 100%;
        background-color: $secondary-light;
        border-radius: 5px;
    }
    .MuiSvgIcon-root{
        fill: $secondary!important;
    }
    p{
        font-weight: 900!important;
        color: $secondary!important;
    }
}
.sidebar__NavbarToggle{
    transform: translateX(-240px);
    transition: 0.2s transform linear;
}

// @media screen and (max-width: 1240px) {
//     .sidebar__Wrapper{
//         transform: translateX(-240px);
//     }   
// }