.layout__Wrapper{
    position: relative;
    top: 70px;
    left: 250px;
    width: calc(100vw - 280px);
}
.layout__Loading{
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.3);
    z-index: 50;
}
.layout__Toggle{
    position: relative;
    top: 80px;
    left: 30px;
    right: 30px;
    width: calc(100% - 60px);
}

@media screen and (max-width: 1240px) {
    .layout__Wrapper{
        top: 80px;
        left: 30px;
        right: 30px;
        width: calc(100% - 60px);
    }   
}

@media screen and (max-width: 468px) {
    .layout__Wrapper{
        left: 5px;
        right: 5px;
        width: calc(100vw - 10px);
    }  
}