.auth__Wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    left: 100vw;
    .auth__LoginBox{
        position: relative;
        z-index: 5;
        width: 900px;
        background-color: $white;
        box-shadow: 2px 2px 5px #ccc;
        display: flex;
        align-items: flex-start;
        .auth__FormSide{
            width: 49%;
            padding: 20px;
            padding-right: 0%;
            .auth__Title{
                margin-bottom: 25px;
                h4{
                    font-size: 24px;
                    margin-bottom: 5px;
                }
                p{
                    font-size: 14px;
                    margin-bottom: 0%;
                }
            }
            form{
                width: 100%;
                padding-right: 20px;
            }
            .auth__ForgotPassword{
                display: flex;
                justify-content: flex-end;
                p{
                    font-size: 14px;
                    margin-bottom: 0%;
                    color: $secondary;
                    font-weight: 600;
                    cursor: pointer;
                }
            }
            .auth__ButtonGrp{
                margin: 10px 0;
                button{
                    background-color: $secondary;
                    color: $white;
                    font-size: 12px;
                }
            }
            .auth__Bottom{
                margin-top: 30px;
                p{
                    font-size: 14px;
                    span{
                        font-weight: 600;
                        color: $secondary;
                        cursor: pointer;
                    }
                }
            }
        }
        .auth__ImageSide{
            width: 52%;
            height: 100%;
            .auth__ImageBackground{
                height: 362px;
                width: 100%;
                background-image: url('../../images/image.jpg');
                background-size: cover;
            }
            .auth__RegisterImage{
                height:620px;
                width: 100%;
                background-image: url('../../images/image.jpg');
                background-size: cover;
            }
        }
    }
    .auth__BackgroundBox{
        position: absolute;
        top: 0%;
        left: 0%;
        height: 100%;
        width: 100%;
        display: flex;
        z-index: 2;
        .auth__NonImageFrame{
            width: 51%;
            height: 100%;
            background-color: $light;
        }
        .auth__ImageFrame{
            width: 52%;
            height: 100%;
            background-image: url('../../images/image.jpg');
            filter: blur(10px);
        }
    }
}

@media screen and (max-width: 600px) {
    .auth__ImageSide{
        display: none;
    }
    .auth__Wrapper .auth__BackgroundBox .auth__ImageFrame {
        width: 100vw;
    }
    .auth__Wrapper .auth__BackgroundBox .auth__NonImageFrame {
        display: none;
    }
    .auth__Wrapper .auth__LoginBox .auth__FormSide{
        width: 100%;
    }
}